* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserratt', sans-serif;
}

.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 10000;
  background-color: #5c6bc0;
  display: inline-flex;
  border-radius: 16px 16px 0 0;
}

.navbar a {
  width: 50%;
    text-align: center;
    text-decoration: none;
}

.navbar a:nth-child(1) {
  border-radius: 16px 0 0 0;
}

.navbar a:nth-child(2) {
  border-radius: 0 16px 0 0;
}

.navbar .nav-button {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 17px;
    color: #FFF;
    text-shadow: 3px 3px rgba(50,50,70,0.5);
    font-size: 1.3em;
}

.active {
  background-color: #26418f;
}

.search-box {
  width: 100%;
  margin: 0 0 25px;
  position: sticky;
  top: 25px;
  z-index: 1000;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px 25px;
  
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 16px 16px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background: rgba(255,255,255,0.75);
}

.location-box {
  position: sticky;
    top: 100px;
    padding: 10px 0;
    background-color: rgba(255,255,255,0.8);
    border-radius: 16px;
    z-index: 100;
}

.location-box .location {
  color: #000;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

.location-box .date {
  color: #000;
  font-size: 1.1em;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .picture {
  text-align: center;
}

.weather-box .temp  {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color:  rgba(255,255,255,0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #FFF;
  font-size: 6.5em;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.dayContainer {
  margin: 10px 0;
  background-color: rgba(255,255,255,0.25);
  border-radius: 16px;
  padding: 10px;
}

.dayContainer .date {
  text-align: center;
    color: #FFF;
    text-shadow: 3px 3px rgb(50 50 70 / 10%);
    font-size: 1.2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #FFF;
}

.day {
  display: grid;
  grid-template-columns: 60% 30%;
}

.day .picture {
  text-align: left;
}

.temp {
  text-align: right;
  display: block;
  color: #FFF;
  text-shadow: 3px 3px rgb(50 50 70 / 10%);
  font-size: 1.5rem;
  margin-top: 5px;
}

.temp div {
  padding-top: 10px;
}

.daily-weather {
  margin: 80px 0;
}